
/* Inputs */
.input {
  width: 100%;
  padding: var(--space-3);
  border-radius: var(--radius-md);
  border: 2px solid #E2E8F0;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: var(--color-ui-purple);
}

/* Avatars */
.avatar {
  width: 48px;
  height: 48px;
  border-radius: var(--radius-full);
  overflow: hidden;
  background-color: var(--color-ui-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}
